@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.grid_principal {
  display: flex;
}

.perfil-usuario {
  display: flex;
  font-family: 'Poppins', sans-serif;
}

aside {
  width: 250px;
  background-color: #f5f5f5;
  padding: 20px;
}

.perfil {
  text-align: center;
  margin-bottom: 20px;
}

.perfil img {
  border-radius: 50%;
  width: 228px;
  height: 227px;
}

.img_perfil {
  border-radius: 50%;
  margin-bottom: 10px;
}

.btn_editar_foto {
  display: inline-block;
  margin-bottom: 20px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.btn_editar_foto:hover {
  background-color: #0056b3;
}

.perfil h2 {
  margin: 10px 0 5px 0;
}

.perfil p {
  color: #666;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

nav ul li:hover {
  background-color: #e0e0e0;
}

nav ul li.activo {
  background-color: #e0e0e0;
  border-radius: 5px;
}

main {
  flex-grow: 1;
  padding: 20px;
}

.contenido {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contenido h2 {
  margin-bottom: 20px;
}

.contenido form {
  display: flex;
  flex-direction: column;
}

.contenido form .form-group-inline {
  display: flex;
  justify-content: space-between;
}

.contenido form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.contenido form label {
  margin-bottom: 5px;
}

.contenido form input,
.contenido form .telefono select,
.contenido form .telefono input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contenido form .telefono {
  display: flex;
  align-items: center;
}

.contenido form .telefono select {
  margin-right: 10px;
  max-width: 70px;
  padding: 8px;
}

.contenido form button {
  margin-top: 20px;
  padding: 10px;
  background-color: #090909;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contenido form button:hover {
  background-color: #303030;
}

.contenido h3 {
  margin-top: 20px;
}

.contenido p {
  margin-top: 10px;
  color: #666;
}

.contenido label {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.contenido label input {
  margin-right: 10px;
}
