.curso_det_body {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.sidebar_home {
  flex: 0 0 70px;
  width: 100%;
}

.leccion_det_content {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 0;
  background-color: #F7F7F7;
  transition: all 0.5s ease;
  height: 100vh;
}

.leccion_content {
  display: flex;
  flex-direction: column;
  background-color: #F7F7F7;
  flex: 0 0 950px;
  overflow-y: auto;
  padding: 0 20px;
  align-items: center;
  overflow-y: scroll;
}

.imagen_curso {
  background-color: #C48857;
  width: 80%;
  height: 100%;
  border-radius: 20px;
  margin-top: 30px;
  margin-right: 10px;
  margin-bottom: 0px;
  text-align: center;
}

.leccion{
  cursor: pointer;
}

.nombre_leccion_det {
  margin-top: 30px;
  margin-bottom: 30px;
}

.p_leccion {
  margin-bottom: 30px;
}

.detalles_leccion {
  width: 80%;
  text-align: left;
  margin-top: 20px;
}

.profesor {
  display: flex;
  align-items: center;
  width: 80%;
  margin-top: 20px;
}

.foto_prof img {
  width: 50px;
  height: 50px;
  background-color: #ddd;
  border-radius: 30%;
  margin-right: 10px;
  object-fit: cover;
}

.detalles_prof {
  text-align: left;
}

.detalles_prof h5 {
  margin: 0;
  font-size: 18px;
}

.detalles_prof p {
  margin: 0;
  color: #888;
}

.adicionales {
  margin: 0;
  flex: 0 0 350px;
  background-color: #FFFF;
  padding: 5px;
}

.div_temas{
  overflow-y: scroll;
  max-height: 800px;
}

.titulo_material {
  margin-top: 50px;
  margin-left: 40px;
}

.detalle_tema {
  padding: 20px;
}

.detalle_archivos {
  display: flex;
  align-items: center;
  width: 80%;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  border-left: 8px solid #A25035;
}

.nombre_archivo{
  font-size: 15px;
  font-weight: 400;
}

.nombre_tema{
  font-size: 18px;
  color: #9b9b9b;
}

.botones{
  display: flex;
  flex-direction: row;
}

.btn_terminada{
  padding: 10px;
  box-sizing: border-box;

}

.btn_terminada{
  margin-left: 50px;
  font-weight: 500;
  color: white;
  align-items: center;
  text-align: center;
  background-color: #A25035;
  padding: 10px;
  border-radius: 25px;
  cursor: pointer;
}

.btn_next{
  align-items: center;
  text-align: center;
  padding: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #C48857;
  cursor: pointer;
  margin-left: 30px;
}

.btn_next box-icon{
  fill:white;
}