@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.perfilAdmin{
    font-family: "Poppins", sans-serif;
    display: flex;
    background-color: #0F0C09;
    padding: 1rem 1rem 0rem 1rem;
}

.AdminContenido{
    padding: 2rem 2rem 0rem 5rem;
    margin-left: 3.4rem;
    background-color: #F7F7F7;
    width: 98%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.crearAdm{
    padding: 2rem;
    background-color: #C48857;
    border-radius: 15px;
    margin-right: 3rem;
    width: 100%;
    cursor: pointer;
}

.crearAdm h2{
    margin-top: 2rem;
    font-size: 20px;
}

.crearAdm p{
    width: 95%;
    font-size: 12px;
}

.buscarAdm{
    padding: 2rem;
    background-color: #E3C8B7;
    border-radius: 15px;
    margin-right: 3rem;
    width: 100%;
    cursor: pointer;
}

.buscarAdm h2{
    margin-top: 2rem;
    font-size: 20px;
}

.buscarAdm p{
    width: 95%;
    font-size: 12px;
}

.crearProfesorMenu{
    position: absolute;
    top: 16px;
    right: 16.8px;
    width: 740px;
    height: 100%vh;
    background-color: white;
    padding: 2.7rem 5rem 0.5rem 5rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-right: 3px;
}

.inputBoxObs{
    font-size: 12px;
    width: 270px;
    height: 35px;
    border-radius: 10px;
    padding: 1rem;
    font-size: 15px;
    margin-bottom: .7rem;
    border: 2px solid #E3C8B7;
}

.inputBoxSObs{
    padding-left: 1rem;
    font-size: 12px;
    width: 270px;
    height: 35px;
    border-radius: 10px;
    border: 2px solid #E3C8B7;
    font-size: 15px;
    margin-bottom: .7rem;
}

.cabeceraFromCrPro{
    padding: 3rem 0;
}

.cabeceraFromCrPro p{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.closeIconForm{
    position: absolute;
    top: 80px;
    right: 88px;
    font-size: 30px;
    cursor: pointer;
    color: #E3C8B7;
    transition: 0.5s ease;
}

.closeIconForm:hover{
    color: #0F0C09;
    transition: 0.5s ease;
}

.priInfoFormCrPro{
    display: flex;
    margin-bottom: 1rem;
}

.imgFormCrPro{
    border-radius: 15px;
    border: 2px dashed #E3C8B7;
    padding: 1rem;
    width: 47%;
    text-align: center;
    margin-right: 2.2rem;
    cursor: pointer;
}

.imgFormCrPro p{
    font-size: 12px;
    padding: 0 3rem 0 3rem;
    color: #E3C8B7;
}

.secInfoFormPro{
    display: flex;
    margin-bottom: 2rem;
}

.SecInfoFormProIzq{
    margin-right: 2.2rem;
}

.crearProfesorMenu.active{
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
    transition: 0.5s ease;
}

.crearProfesorMenu.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateX(20px);
    transition: 0.5s ease;
}