.curso_det_body {
    display: flex;
    height: 100vh; /
}

.sidebar_home {
    width: 20%;
}

.examen_det_content {
    width: 80%;
    margin-left: 80px; 
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #FFFF;
    transition: all 0.5s ease;
}

.examen_content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
}

.detalles_leccion {
    margin-bottom: 20px;
    text-align: center; 
    width: 100%;
}

.detalles_examen {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    gap: 20px;
    width: 100%;
}

.h3_det_examen {
    margin: 0;
}

.Preguntas {
    width: 100%;
    margin-top: 20px;
    text-align: left;
}

.detalle_pregunta {
    margin-bottom: 15px;
    width: 100%;
}

.opciones {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.opcion {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.checkbox-circular {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: relative;
    margin-right: 8px;
}

.checkbox-circular:checked::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #007bff;
    position: absolute;
    top: 3px;
    left: 3px;
}

.finalizar-btn {
    background-color: #A25035;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-top: 20px;
    border-radius: 20px;
}

.finalizar-btn:hover {
    transform: translateY(-5px);
}
