.slider-cursos-container{
    font-family: "Titillium Web", sans-serif;
    margin-right: 0;
}

.item {
    position: relative;
    max-width: 250px;
    height: 170px;
    border-color: black;
    padding:5%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    margin-right: 0;
    margin-bottom: 30px;
    cursor: pointer;
}

.texto{
    position: absolute;
    bottom: 10%; 
    left: 10%;  
    right: 10%;  
    text-align: left;
}

.item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: translateY(2px);
}

.nombre_curso{
    font-size: 15px;
    font-weight: 700;
    color:black;

}

.datos_curso{
    font-size: 10px;
    font-weight: 500;
}