.calendario__section {
    width: 93%;
    margin: 1.5rem 2.5rem -2rem 2.5rem;
    padding: 2rem 2.5rem;
    border-radius: 1rem;
}

.fc-button-today{
    background-color: #ff9837;
    color: white;
}